<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
      <form [formGroup]="loginForm" (ngSubmit)="doLogins()">
    <ion-list>
    <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" placeholder="Username" formControlName="name" required></ion-input>
    </ion-item>
    <p *ngIf="!loginForm.controls.name.valid  && loginForm.controls.name.dirty && loginForm.controls.name.value != ''">Invalid name!</p>
    <p *ngIf="!loginForm.controls.name.valid  && loginForm.controls.name.dirty && loginForm.controls.name.value == ''">Field is required!</p>

    <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" placeholder="Password" formControlName="password" required></ion-input>
    </ion-item>
    <p *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty && loginForm.controls.password.value == ''">Field is required!</p>
    <!-- <p class="forget-password-text" text-right (click)="resetPassword()">Forget password?</p> -->

      <div padding>
        <button ion-button color="primary" block type="submit">Login</button>
      </div>

    </ion-list>
  </form>
</ion-content>
