<!--
  Generated template for the BlokhomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title hideBackButton="true" canswipeback="false">Blok Rumah</ion-title>
    <ion-buttons (click)="_closeModal()" end>
      <!-- <button ion-button (click)="_closeModal()">Total</button> -->
      <button ion-button ><ion-icon item-end class="logout" style="color: dodgerblue" name="cart">  Total</ion-icon>
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- <ion-list>
      <button ion-item *ngFor="let item of blokshome; let lokasiId of kontrak[kontrak.blok_no]" title=lokasiId>
        {{item.blok_no}}
        <div class="item-note" item-end>
          {{item.tipe}}
        </div>
      </button>
    </ion-list> -->
<!-- <ion-content  #scroll scrollX="true" scrollY="false" style="height: 50px;">
    <ion-segment  class="SwipedTabs-tabs"  >
      <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
      [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }'  [ngStyle]="{'width.px': (this.tabElementWidth_px)}" >
        {{tab}}
      </ion-segment-button>
    </ion-segment>
  
    <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.px': (this.tabElementWidth_px)}" ></div>
  </ion-content> -->
  </ion-header>
  <ion-content>
      <!-- <ion-input (change)="blokhome()" ></ion-input> -->
      <super-tabs *ngIf="isLastPage" scrollTabs="true" toolbarBackground="primary" toolbarColor="light" indicatorColor="light" tabsPlacement="top" (tabSelect)="onTabSelect($event)">
        <super-tab *ngFor="let page of blokshome; let indexhome of blokshome[kontrak.blok_no]" [root]="MenuPage" [title]="page.blok_no" (click)="click(indexhome)"></super-tab>
      </super-tabs>  
      <!-- <ion-list>
        <ion-item *ngFor="let item of blokshome; let indexhome of blokshome[kontrak.blok_no]" (click)="itemClicked($event, indexhome)">
          <h2>{{ item.tipe | uppercase }}</h2>
          <h3>{{ item.blok_no | uppercase }}</h3>
          <p>{{ item.no_kontrak }}</p>
          <button ion-button item-right color="danger" (click)="click(indexhome)">Button</button>
        </ion-item>
      </ion-list> -->
    </ion-content>