<ion-header>
    <ion-navbar>
      <ion-title>Daftar Order</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="body">
  <ion-list class="ordersContainer" *ngIf="orders">
    <ion-item>
        <h2 item-end>No Kontrak: {{nokontrak}}</h2>
    </ion-item>
    <ion-item-sliding *ngFor="let item of orders;  let idx = index" >
      <ion-item (click)="goDetail(idx)">
        <h2>Tanggal: {{this.date | date: 'shortDate'}}</h2>
          <p>Blok Rumah: {{item.datatotal.blokhome}}</p>
          <p>Blok No: {{item.datatotal.blokno}}</p>
          <p>Jumlah Pesanan: {{item.datatotal.produk.length}}</p>
          <ion-item-sliding *ngFor="let data of orders.datatotal">
            <h5>Nama Bahan: {{data.nama_bahan}}</h5>
            <h5>Jumlah: {{data.quantity}}</h5>
          </ion-item-sliding>
      </ion-item>
              <!-- <ion-item *ngFor="let product of data.produk">
                  <h3>Nama Bahan: {{product.nama_bahan}}</h3>
                  <ion-note item-end>Jumlah Bahan: {{product.quantity}}</ion-note>
                  <ion-note item-end>Satuan: {{product.satuan}}</ion-note>
              </ion-item> -->
                <ion-item-options side="left" (click)="_deleteProduct(productId)">
                  <button ion-button>Delete</button>
                </ion-item-options>
            </ion-item-sliding>
    </ion-list>
    <button ion-button full round (click)="kirimwa()">Kirim ke WA</button>
    <!-- <button ion-button full round (click)="goToHome()">kembali</button> -->
  </ion-content>
