<ion-header>
  <ion-navbar>
    <ion-title>Bahan Baku</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="body">
<ion-list class="categoriesList">
  <ion-list-header *ngFor="let t of tahapan; let catId = index" no-lines no-padding no-margin>
      <button no-lines (click)="_toggleCategory(catId)">
        <div class="catContainer">
          <img width="25" height="25" src="{{'assets/imgs/fanta.ico'}}">
          <h2>{{t.nama_tahapan}}</h2>
        </div>
      </button>
    <ion-list  *ngIf="bahan && t.open">
      <ion-item *ngFor="let product of bahan; let productId = index">
        <ion-thumbnail item-start (click)="_productModal(catId, productId)">
          <img src="{{'assets/imgs/coca.ico'}}">
        </ion-thumbnail>
        <h3 class="name" (click)="_productModal(catId, productId)">{{product.name}}</h3>
        <p>{{product.nama_bahan}}</p>
        <div clear item-end>
          <button class="counterButton" (click)="_addToCart(productId)">+</button>
            <!-- <label>Qty</label> -->
            <span type="number" class="counter">{{product.quantity || 0}}</span>
            <input [(ngModel)]="product.quantity" placeholder="0" class="inputqty" classtype="number">
          <button class="counterButton" (click)="_deleteFromCart(productId)">-</button>
        </div>
      </ion-item>
    </ion-list>
    </ion-list-header>
</ion-list>
<ion-fab bottom right>
  <button ion-fab [color]="total && total > 0 ? 'default' : 'primary'" text-center (click)="_onOrder()">Ok</button>
</ion-fab>
</ion-content>

